<!DOCTYPE html>
 
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/home.css">
        <link rel="stylesheet" href="/stylesheets/global.css">
        <link rel="stylesheet" href="/stylesheets/altaProducto.css">
        <link rel="stylesheet" href="/stylesheets/updateProducto.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <link rel="stylesheet" href="/stylesheets/expedition.css">
        <link rel="stylesheet" href="/stylesheets/modalSimple.css">

        <link rel="stylesheet" href="/stylesheets/modalLetras.css">
        <link rel="stylesheet" href="/stylesheets/listadosContenidosTablas.css">
        <link rel="stylesheet" href="/stylesheets/modalFooter.css">
        <script src="https://kit.fontawesome.com/812a77d5cc.js" crossorigin="anonymous"></script>
        <title>Faustine</title>
       
    </head>
 
<body> 
        <%- include('partials/header') %>
<main>
            <div class="altaProductLogo">   
                <ul>      
                <li><i id ="mensajeOjo" class="fas fa-eye"></i></li>
                <br/>
                <br/>
                <p class="line-1 anim-typewriter" style="font-size:3rem; color:#e0e0e0"><%= mensaje %></p>  
                <p class="line-1 anim-typewriter" style="font-size:3rem; color:#15ab92"><%= productoNo %></p> 
                <p class="line-1 anim-typewriter" style="font-size:3rem; color:#15ab92"><%= productoNo2 %></p> 
                </ul> 
                
            </div> 
                
                <div id="modal2" class="modalmask">            
                    <div class="modalbox rotate">
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>IMPORTANTE</h2>
                        <p> Ud está a punto de ELIMINAR REGISTRO
                            Del producto </p>
                        <p> Verifique cuidadosamente si es lo que quiere hacer</p>                    
                         
                        </div>
                </div>
                     
                <div class= "closeMainE" >
                <a  href="/bExpedition/listVtasPending" id="vuelvoE">Seguir Remitos a clientes</a>
                <br/>
                <a href="/bExpedition/ingresarRemitoProveedor" id="vuelvoEnaranja"> Remito de PROVEEDOR </a>
                <br/>  
                <a href="/" id="vuelvoEmain">Volver a Pagina Principal</a>
              
                </div>
               
        </form>
         
</main>
</body>
        <footer>                                   
            <%- include('partials/footer') %>
            <script src="/js/ayuda.js"></script>   
            <script src="/js/letter.js"></script>                
        </footer>   

</html > 